VITE_SUPABASE_URL=https://kdsvsmlcstyrgmafxiyc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtkc3ZzbWxjc3R5cmdtYWZ4aXljIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg5ODk0NDcsImV4cCI6MjA5NDU2NTQ0N30.SdJyRlWcbryqvwdozwBZd7fyXrIisHOjkKkgzCCj0qM
